<h1>home</h1>
{{#each posts as |post|}}
<h2>
    <a href="/post/{{post.id}}">{{post.subject}}</a>
</h2>
<div>
    <p>
        {{post.comment}}
    </p>
</div>
<div>
    <p>Posted by: <a href="/userposts">{{post.user.username}}</a></p>
</div>
{{/each}}